<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        form {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
    </style>
</head>
<body>
<form method="post">
    {%csrf_token%}
<h2>Login Page</h2>
User Name: <input type="text" name="uname"><br><br>
Password: <input type="text" name="pwd"><br><br>
<input type="submit" value="login">
    <button type="button"> <a href="{% url 'index' %}">sign up</a>  </button>
</form>
</body>
</html>